* {
  margin: 0;
  padding: 0;
}

.nav_ul li {
  padding: 0 0.6rem;
}

.nav_ul a {
  font-size: 1.05rem;
  color:black !important;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.btn1 {
  border: 0;
  padding: 0.5rem 1.8rem;
  color: #fff;
  background-color: #01193c;
}

.btn2 {
  border: 0;
  padding: 0.5rem 1.2rem;
  color: #fff;
  background-color: #f60838;
}
.logo{
  width: 150px;
}



.banner .back-details{
  background: url(/src/img/back.jpg);
  height: 80vh;
  background-position: top 25% right 0;
  background-size: cover;
  width: 100%;
  padding: 0 80px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.banner .back-details h1{
  font-size: 52px;
}
.banner .back-details h2{
  font-size: 32px;
}

.banner .back-details p{
  color: var(--primary1);
}

@media only screen and (max-width: 768px) {
  .banner .back-details {
    height: auto;
    background-position: center;
    padding: 50px;
    align-items: center;
    text-align: center;
  }

  .banner .back-details h1 {
    font-size: 36px;
  }

  .banner .back-details h2 {
    font-size: 24px;
  }
}


.featured-products .card{
  border-radius: 20px;
  transition: 0.5s ease;
  max-width: 250px;
  padding: 12px 10px;
  overflow: hidden;
}

.featured-products .card img{
  border-radius: 20px;
  max-width: 100%;
  max-height: 220px;
}
.featured-products .action-bar{
  top: 30%;
  right: -100px;
  transition: 0.8s ease;
}

.featured-products .card:hover .action-bar{
  right: 80px;
}

@media only screen and (max-width: 768px) {
  .featured-products .action-bar {
    display: none;
  }
  .new-arrivals .action-bar {
    display: none;
  }
  h1{
    font-size: 30px;
    font-weight: 500;
  }
  .logo {
    max-width: 100%;
      height: 30px;
    }
}


.new-arrivals img{
  max-width: 100%;
  max-height: 200px;
  transition: all 0.5s;
}
.new-arrivals .card{
  overflow: hidden;
}
.new-arrivals .action-bar{
  top: 30%;
  right: -100px;
  transition: 0.8s ease;
}

.new-arrivals .card:hover .action-bar{
  right: 80px;
}



.repair-details{
  background: url(/src/img/b2.jpg);
  background-size: cover;
  width: 100%;
  height: 30vh;
  justify-content: center;
  background-position: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  
}
@media only screen and (max-width: 768px) {
  .banner .back-details {
    height: auto;
    background-position: center;
    padding: 50px;
    align-items: center;
    text-align: center;
  }

  .b2text {
    font-size: 20px;
    margin-top: 5px;
  }

  .b2text1 {
    font-size: 15px;
  }
  .protext{
    font-size: 15px;
    padding-top: 5%px;
  }
}


.hot-deals .card{
  padding: 12px 10px;
}

.hot-deals .card img{
  min-height: 180px;
  justify-content: center;
}





.blogs .card img{
  width: 20rem;
  padding: 20px;
  border-radius: 15px;
}
.blogs button{
  font-size: 16px;
  transition: 0.5s;
  border:  1px solid transparent;
}

.blogs button:hover{
  background: transparent;
  color: var(--search);
  border: 1px solid var(--darker);
}



.news-letter{
  background-color: #e2ecea;
}
#basic-addon2{
  background-color: transparent;
  text-align: center;
  line-height: 0;
  transition: 0.5s ease;
  font-size: 16px;
}

#basic-addon2:hover{
  color: var(--search);
}

#news-input{
  height: 3rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


footer .pay img{
  padding: 10px 8px;
  margin-right: 5px;
  border-radius: 10px;
  border: 1px solid var(--primary);
  transition: 0.5s ease;
}

footer .pay img:hover {
  transform: translateY(-10px);
}

.about-wrapper{
  background: url(./img/about/banner.png);
  background-size: cover;
  width: 100%;
  height: 60vh;
  justify-content: center;
  background-position: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}


.shop-banner{
  background: url(img/b1.jpg);
  background-size: cover;
  width: 100%;
  height: 30vh;
  justify-content: center;
  background-position: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.map iframe{
  height: 450px;
  align-items: center;
}

.contact-wrapper{
  background: url(img/back.jpg);
  background-size: cover;
  width: 100%;
  height: 30vh;
  justify-content: center;
  background-position: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.pricetext{
  font-size: 15px;
}